<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="index.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <section id="controls">
      <button v-on:click="generateBattle">Generate battle</button>
      Random battle id:
      <input type="radio" id="random" value="random" v-model="seedSource">
      <label for="random">random</label>
      <input type="radio" id="provided" value="provided" v-model="seedSource">
      <label for="provided">provided by user</label>
      <input v-if="seedSource === 'provided'" v-model.number="randomNumberSeedInput"
        type="number"></input>
      <div id="seedInfo">id: {{randomNumberSeed}}</div>
    </section>
    <section v-if="battle" id="combatants">
      <div>
        <div>{{battle.combatant1.name}}</div>
        <div v-for="stat in ['health', 'strength', 'defence', 'speed', 'luck']">
          {{stat}}: {{battle.combatant1.stats[stat]}}</div>
      </div>
      <div>vs.</div>
      <div>
        <div>{{battle.combatant2.name}}</div>
        <div v-for="stat in ['health', 'strength', 'defence', 'speed', 'luck']">
          {{stat}}: {{battle.combatant2.stats[stat]}}</div>
      </div>
    </section>
    <section v-if="battle">
      <div v-else class="turnResult completeTurnResult">
        <div class="completeTurnResultStats">
          <div>health left</div>
          <div>health change</div>
          <div>skills used</div>
          <div>health change</div>
          <div>health left</div>
        </div>
      </div>
      <div v-for="turnResult in battle.turnResults" class="turnResult">
        <div v-if="turnResult.effects.indexOf('noDamageLuck') != -1">
          {{turnResult.attackerStartState.name}} missed their hit.
        </div>
        <div v-else class="completeTurnResult">
          <div class="completeTurnResultStats">
            <div>
              {{turnResult.defenderStartState.is(battle.combatant1) ? turnResult.defenderEndState.stats.health : ""}}
            </div>
            <div>
              {{
              turnResult.defenderStartState.is(battle.combatant1) 
                ? "(" + (turnResult.defenderEndState.stats.health - turnResult.defenderStartState.stats.health) + ")" : ""
            }}
            </div>
            <div v-if="turnResult.appliedSkills.length">skills used:
              {{turnResult.appliedSkills.map((appliedSkill) => (appliedSkill.skill.name)).join(",")}}
            </div>
            <div v-else></div>
            <div>
              {{
              turnResult.defenderStartState.is(battle.combatant2) 
                ? "(" + (turnResult.defenderEndState.stats.health - turnResult.defenderStartState.stats.health) + ")" : ""
            }}
            </div>
            <div>
              {{turnResult.defenderStartState.is(battle.combatant2) ? turnResult.defenderEndState.stats.health : ""}}
            </div>
          </div>
        </div>
      </div>
      <div v-if="battle.winner()" class="turnResult">{{battle.winner().name}} won.</div>
      <div v-else class="turnResult">The result is a draw.</div>
    </section>
  </div>
  <script type="module" src="bundle.js"></script>
</body>

</html>