#controls * {
  margin: 1vw;
}

section {
  margin: 1vw;
}

#seedInfo {
  display: inline-block;
}

#combatants {
  display: flex;
}

.turnResult {
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 1vw;
  background-color: #999999;
}

.turnResult, .turnResult * {
  text-align: center;
}

.completeTurnResult .completeTurnResultStats {
  display: flex;
}

.completeTurnResult .completeTurnResultStats * {
  flex: 1 1 0px;
}